
h1 {
  font-weight: lighter;
}

p {
  color: #999;
  font-size: 0.8rem;
}

a {
  color: #999;
  font-size: 0.8rem;
}

.dark {
  background-color: #2d3436;
  color: #ffeaa7;
} 	

.dark a {
  color: #fab1a0;
}

